/*geral*/
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffdab9a2;
}

/*container_header*/
#container_header header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #4e2609;
    color: #fff;
    font-weight: bolder;

}

#container_header__links ul li {
    display: inline;
    margin: 30px;


}

#container_header__links ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    transition: all 0.25s ease;
}

#container_header__links ul li a:hover {
    color: #000;
    cursor: pointer;
}


/*container_header__content__text */
#container_header__content__text {
    margin-top: 50px;
    padding-left: 50px;




}

#container_header__content header {
    display: flex;
    justify-content: space-around;
    background-color: #A0522D;
}

.span-yellow {
    color: #DEB887
}

#container_header__content__text h1 {
    font-size: 60px;
}

#container_header__content__text p {
    margin-top: 20px;
    color: #fff;
}

#container_header__content__text hr {
    margin-top: 10px;


}


#container_header__content__img img {
    width: 600px;
    margin-right: 200px;
}


/*section-funcionalidades*/
#container_funcionalidades {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.container_funcionalidades__box img {
    width: 50px;
    margin-bottom: 20px;
}

.container_funcionalidades__box {
    text-align: center;
    transition: all 0.25s ease;

}

.container_funcionalidades__box:hover {
    transform: scale(1.1);
    cursor: pointer;

}

.container_funcionalidades__box img:hover {
    background-color: #DEB887;
}

.container_funcionalidades__box h5 {
    color: #A0522D;
    font-weight: bolder;
}

.container_funcionalidades__box img {
    background-color: #a0512da8;
    padding: 20px;
    border-radius: 30px;
}


/*section-cardapio*/
#container_cardapio {
    margin-top: 90px;
    text-align: center;
    background-color: #8B4513;
    padding-top: 20px;
    padding-bottom: 20px;
    ;
}

#container_cardapio h5 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
}

#container_cardapio button {
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    background-color: #228B22;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
    transition: all 0.25s ease;
    font-weight: bolder;
}

#container_cardapio button a {
    text-decoration: none;
    color: #fff;

}

#container_cardapio button:hover {
    transform: scale(1.1);
    color: #000;
    cursor: pointer;
}


/*container-footer*/
#container_footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4e2609;
    color: #fff;
}

#container_footer img {
    width: 30px;
    background-color: #fff;
    margin-right: 20px;

}


















/*media queries*/

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /*container-header*/
    #container_header__text p img {
        display: none;
    }

    /*container_header_content*/
    #container_header__content__img img {
        display: none;
    }

    #container_header__content header {
        padding-bottom: 30px;
    }

    #container_header__content__text h1 {
        font-size: 50px;
    }


    /*section-funcionalidades*/
    .container_funcionalidades__box {
        width: 90px;
    }

    .container_funcionalidades__box p {
        display: none;
    }

    /*container-footer*/
    #container_footer img {
        display: none;
    }


}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    /*container-header*/
    #container_header__content__img img {
        display: none;
    }

    #container_header__content header {
        padding-bottom: 30px;
    }


}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /*container-header*/
    #container_header__content__img img {
        display: none;
    }

    #container_header__content header {
        padding-bottom: 30px;
    }

}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}